html {
    max-width: 400px;
    margin: 0 auto;
  }

.container {
    
    background: #e9f3e9;
    
    border-radius: 5px;
    padding: 20px;
    
  
}

  
  
  .container ::placeholder{
    color: #1da583;
  }
  
    
  .container label{
      font-size: 17px;
      color: rgb(58, 67, 75);
      text-align: center;
      
  }
.container form .box{
    display: block;
    
}
    
.input , select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  color: rgb(248, 121, 35);
    
    
    }
    
    .button {
    width: 100%;
    background-color: #08acc9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .button :hover {
    background-color: #28a2e9;
    }
    
    
.survey-box{
    
    border: 1px solid rgb(204, 216, 238);
    border-radius: 10px;
    padding: 20px;
    background-color: #cde7e3;
}  
